html, body {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.app {
    height: 100vh;
    padding: 2rem;
    font-size: 1.25rem;
    text-align: center;
    background: #262626;
    color: #fff;
    box-sizing: border-box;
}
